.datepicker {
  border: 1px solid #3B4253;
  border-radius: 5px;
  color: #E0E0E0;
  padding: 7px 14px 7px 14px;
  background: none;
  outline: none;
  height: 38px;
}

.datepicker::placeholder {
  color: #676D7D;
}

.datepicker:focus {
  border-color: #3B4253;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container i {
  position: relative;
  right: 30px;
}

.input-container i:active {
  opacity: 0.7;
}


