.container {
  padding: 22px;
  position: relative;
  height: 100vh;
  max-width: 210px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__item p {
  margin-left: 10px;
}

.menu__item i {
  font-size: 20px;
}

.menu__item:hover {
  color: #9B51E0;
  transition: ease-in 0.2s;
}

.menu__item p:hover {
  color: #9B51E0;
  transition: ease-in 0.2s;
}

.tags {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.tags__title {
  margin-bottom: 20px;
  color: #B9B9C3;
}
.tags__item {
  cursor: pointer;
}
.tags ul:not(:last-child) {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px; /* Ширина линии */
  background-color: #31394C; /* Цвет линии */
}

.selected {
  border: 1px solid #9B51E0;
  border-radius: 5px;
  max-width: 190px;
  padding: 10px;
}

.active-link {
  color: #9B51E0;
}

.active-link::after {
  content: ''; /* Добавляем псевдоэлемент для вертикального подчеркивания */
  position: absolute; /* Позиционируем его абсолютно */
  bottom: 0; /* Помещаем внизу */
  left: -20px; /* Выравниваем по левому краю */
  width: 3px; /* Ширина подчеркивания */
  height: 100%; /* Высота равна высоте текста */
  background-color: #9B51E0; /* Цвет подчеркивания */
}
