.dialog {
  background-color: #283046;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ri-information-line {
  font-size: 80px;
  color: #FF9F43;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ui-button-filled {
  margin-right: 10px;
}

@media(max-width: 415px) {
  .button-actions {
    display: flex;
    flex-direction: column;
  }
  ui-button-outline {
    margin-top: 1rem;
  }
}
