.container {
  padding: 22px;
  position: relative;
  height: 100vh;
  max-width: 210px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.menu__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__item p {
  margin-left: 10px;
}

.menu__item i {
  font-size: 20px;
}

.menu__item:hover {
  color: #9B51E0;
  transition: ease-in 0.2s;
}

.menu__item p:hover {
  color: #9B51E0;
  transition: ease-in 0.2s;
}

.tags {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.tags__title {
  margin-bottom: 20px;
  color: #B9B9C3;
}
.tags__item {
  cursor: pointer;
}
.tags ul:not(:last-child) {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px; /* Ширина линии */
  background-color: #31394C; /* Цвет линии */
}

.selected {
  border: 1px solid #9B51E0;
  border-radius: 5px;
  max-width: 190px;
  padding: 10px;
}

.active-link {
  color: #9B51E0;
}

.active-link::after {
  content: ''; /* Добавляем псевдоэлемент для вертикального подчеркивания */
  position: absolute; /* Позиционируем его абсолютно */
  bottom: 0; /* Помещаем внизу */
  left: -20px; /* Выравниваем по левому краю */
  width: 3px; /* Ширина подчеркивания */
  height: 100%; /* Высота равна высоте текста */
  background-color: #9B51E0; /* Цвет подчеркивания */
}

.active-link-clear {
  color: #fff;
  opacity: 0.8;
}

.active-link-clear::after {
  display: none;
}

@media(max-width: 900px) {
  .container::after {
    display: none;
  }
  .container {
    height: auto;
    max-width: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  tasks-create-button {
    margin-right: 1rem;
  }
  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .menu__item {
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .active-link::after {
    display: none;
  }
  .tags div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .tags__item {
    flex-direction: row;
    justify-content: space-between;
  }
  .tags ul:not(:last-child) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца по 1fr каждый */
    grid-template-rows: repeat(2, auto); /* Два ряда с автоматической высотой */
    gap: 10px; /* Промежуток между элементами */
  }
  .menu__item p {
    margin-left: 0;
  }
  .tags ul:not(:last-child) {
    margin: 0;
  }
}

@media (max-width: 680px) {
  .tags div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца по 1fr каждый */
    grid-template-rows: repeat(2, auto); /* Два ряда с автоматической высотой */
    gap: 10px; /* Промежуток между элементами */
  }

  .tags div .tags__item:nth-child(n+2) {
    grid-column: span 1; /* Занимает один столбец */
    grid-row: span 1; /* Занимает один ряд */
  }
  .tags ul:not(:last-child) {
    margin: 0;
  }
}

@media(max-width: 480px) {
  .container {
    padding: 10px;
  }
  .menu {
    flex-direction: column;
    align-items: stretch;
  }
  .menu__item {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  .menu__item p {
    margin-left: 0;
  }
  .tags {
    margin-top: 20px;
  }
  .tags__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 520px) {
  .header {
    justify-content: space-between;
    align-items: flex-start;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
  .menu__item {
    font-size: 1rem;
  }
  .menu__item i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}
