<div class="container">
  <div class="tasks">
    <ui-search-input (onSearch)="onSearch($event)"></ui-search-input>
    <h2>{{ currentTasksPage }}</h2>
    <div class="tasks-list">
      <div cdkDropList class="tasks-list" (cdkDropListDropped)="drop($event)">
        <div class="" *ngFor="let task of areAnyTagsSelected() | slice:0:(currentPage + 1) * itemsPerPage" cdkDrag>
          <ng-container *ngIf="task && currentTasksPage && taskIncluded(currentTasksPage, task)">
            <div class="tasks-list__item" *ngIf="showNotDeletedTasks(currentTasksPage, task)"  [ngClass]="{'deleted-page': !notInDeletedPage(currentTasksPage)}">
              <div class="tasks-list__item__name">
                <mat-checkbox *ngIf="notInDeletedPage(currentTasksPage)" [formControl]="complete" (click)="onComplete(task.name)"></mat-checkbox>
                <div class="name" highlight [search]="filterChanges | async"
                     [ngClass]="{'important': isImportant(task) && notInImportantPage(currentTasksPage)}"
                     [innerHtml]="task?.name">
                </div>
              </div>
              <div class="tasks-list__item__badge">
                <div *ngFor="let tag of task.tags">
                  <ui-badge [badge]="tag" (click)="onToggleTag(tag)"></ui-badge>
                </div>
              </div>
              <div class="tasks-list__item__footer">
                <div class="tasks-list__item__footer__date">
                  {{ task.date | date: 'HH:mm / dd.MM.yyyy' }}
                </div>
                <div class="tasks-list__item__footer__actions">
                  <ng-container *ngIf="notInDeletedPage(currentTasksPage); else inDeletedPage">
                    <tasks-delete-button [taskName]="task.name"></tasks-delete-button>
                    <i class="ri-draggable" cdkDragHandle></i>
                  </ng-container>
                  <ng-template #inDeletedPage>
                    <i class="ri-restart-line" (click)="onReturnTask(task.name)"></i>
                  </ng-template>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="pagination" *ngIf="tasksList!.length > itemsPerPage && !isLast">
      <button class="pagination__btn" (click)="loadMoreTasks()">открыть еще 5 задач</button>
    </div>
  </div>
</div>
