.search-input {
  border: none;
  outline: none;
  padding: 20px 5px 20px 5px;
  width: 100%;
  background: none;
  color: #B9B9C3;
}
:host {
  display: flex;
  align-items: center;
}

i {
  margin-right: 5px;
}
