.badge-productivity {
  background-color: #2772081F;
  color: #7367F0;
}

.badge-education {
  background-color: #28C76F1F;
  color: #28C76F;
}

.badge-health {
  background-color: #FF9F431F;
  color: #FF9F43;
}

.badge-urgent {
  background-color: #EA54551F;
  color: #EA5455;
}

.badge {
  border-radius: 17px;
  padding: 1px 9px;
  font-size: 12px;
  user-select: none;
  cursor: pointer;
}
